body {
    background: #F9EFFF;
    margin: 0;
}

/* Подлючаем шрифты */
@font-face {
    font-family: "Raleway";
    src: url("/assets/fonts/raleway-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    src: url("/assets/fonts/raleway-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Neue Machina";
    src: url("/assets/fonts/neuemachina-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Neue Machina";
    src: url("/assets/fonts/neuemachina-ultrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

header {
    display: none;
    justify-content: space-between;
}

.logo, .quiz h1 {
    font-family: Neue Machina, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 34.74px;
    text-align: left;
}

/* Стили для квиза */

.quiz-wrapper {
    display: block;
}

.quiz-sidebar {

}

.quiz-content {
    background: white;
    padding: 15px 10px 10px 10px;
    border-radius: 16px 16px 32px 32px;
}

.quiz-question, .quiz p {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    background: white;
    cursor: pointer;
    border-radius: 25px 25px 15px 15px;
    padding: 10px 15px;
    margin-bottom: 4px;
}

.quiz-question.active {
    background: black;
    color: white;
}

.quiz-question b, .quiz-question p {
    margin: 0;
}

.quiz {
    display: none;
}

.quiz.active {
    display: block;
}

/* Стили для чекбоксов */
.checkbox-container {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
}

.checkbox-container fieldset {
    border: none;
    padding: 0;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    padding: 5px 20px 5px 20px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    border-radius: 20px;
    border: 2px solid black;
    transition-duration: .2s;
}

.custom-checkbox label {
    cursor: pointer;
}

.custom-checkbox.active{
    color: white;
    background: black;
}

.custom-checkbox.active {
    padding: 5px 10px 5px 30px;
    transition-duration: .2s;
}

.custom-checkbox input {
    display: none;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.custom-checkbox input:checked ~ .checkmark {
    content: url(/assets/img/check.svg);
}

/* Стили для кнопок назад и продолжить */

.quiz-buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.quiz-back, .quiz-next {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: center;
    border: 2px solid black;
    width: 140px;
    height: 35px;
    cursor: pointer;
}

.quiz-back {
    display: none;
    background: none;
    margin-right: 3px;
    border-radius: 10px 10px 10px 15px;
}

.quiz-next {
    background: black;
    color: white;
    margin-left: 3px;
    border-radius: 10px 10px 15px 10px;
}

/*
.navbar {
    width: 100%;
}

.nav-menu {
    padding: 0;
}

.nav-item {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.48px;
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.nav-link {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    background: #444;
}

.nav-item:hover .submenu {
    display: block;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}


 */

/* Отображаем ховер только на ПК */
@media (hover: hover) and (pointer: fine) {
    .custom-checkbox:hover {
        color: white;
        background: black;
    }
}

@media (min-width: 768px) {

}
