html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #F9EFFF;
    margin: 0;
    padding: 0;
}

main {
    height: 1250px;
}

/* Подлючаем шрифты */
@font-face {
    font-family: "Raleway";
    src: url("/assets/fonts/raleway-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    src: url("/assets/fonts/raleway-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Neue Machina";
    src: url("/assets/fonts/neuemachina-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Neue Machina";
    src: url("/assets/fonts/neuemachina-ultrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

header {
    display: none;
    justify-content: space-between;
}

.logo, .quiz h1 {
    font-family: Neue Machina, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 34.74px;
    text-align: left;
}

/* Стили для квиза */

.quiz-wrapper {
    display: block;
    margin-bottom: 40px;
}

.quiz-sidebar {

}

.quiz-content {
    background: white;
    padding: 15px 10px 10px 10px;
    border-radius: 16px 16px 32px 32px;
}

.quiz-question, .quiz p {
    font-family: Raleway, sans-serif;
    font-size: 16px;
}

.quiz-question {
    padding: 10px 15px;
    margin-bottom: 4px;
    border-radius: 25px 25px 15px 15px;
    background: white;
    cursor: pointer;
}

.quiz-question.active {
    background: black;
    color: white;
}

.quiz-question b, .quiz-question p {
    margin: 0;
}

.quiz {
    display: none;
}

.quiz.active {
    display: block;
}

/* Стили для чекбоксов */
.answer-container {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
}

.answer-container fieldset {
    border: none;
    padding: 0;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    padding: 5px 20px 5px 20px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    border-radius: 20px;
    border: 2px solid black;
    transition-duration: .2s;
}

.custom-checkbox label {
    cursor: pointer;
}

.custom-checkbox.active{
    color: white;
    background: black;
}

.custom-checkbox.active {
    padding: 5px 10px 5px 30px;
    transition-duration: .2s;
}

.custom-checkbox input {
    display: none;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.custom-checkbox input:checked ~ .checkmark {
    content: url("/assets/img/check.svg");
}

/* Стили для радио кнопок  */
.custom-radio {
    display: inline-block;
    position: relative;
    padding: 5px 20px 5px 20px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    border-radius: 20px;
    border: 2px solid black;
    transition-duration: .2s;
}

.custom-radio.active {
    background: black;
    color: white;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio input[type="radio"] + label {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.custom-radio input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: white;
}

.custom-radio input[type="radio"]:checked + label:before {
    border: 3px solid white;
    background-color: black;
    width: 15px;
    height: 15px;
}

/* Стили для кнопок назад и продолжить */

.quiz-buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.quiz-back, .quiz-next {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: center;
    border: 2px solid black;
    width: 140px;
    height: 35px;
    cursor: pointer;
}

.quiz-back {
    display: none;
    background: none;
    margin-right: 3px;
    border-radius: 10px 10px 10px 15px;
}

.quiz-next {
    background: black;
    color: white;
    margin-left: 3px;
    border-radius: 10px 10px 15px 10px;
}

/* Стили для кнопок слайдера */

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex !important;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    width: 353px;
    height: 464px;
    border-radius: 32px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

.card h3 {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.18px;
    text-align: center;
}

.card p {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
}

.card-holder {
    background: white;
    box-sizing: border-box;
    position: absolute;
    margin: 8px;
    padding: 25px 15px 10px 15px;
    border-radius: 32px;
    height: auto;
    width: calc(100% - 16px);
    bottom: 0;
}

.card-holder img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 40px);
    top: -40px;
}

.union {
    content: url("/assets/img/union.svg");
    position: absolute;
    top: -46px;
    left: calc(50% - 64px);
}

.card__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
    display: none !important;
}

/*
.navbar {
    width: 100%;
}

.nav-menu {
    padding: 0;
}

.nav-item {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.48px;
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.nav-link {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    background: #444;
}

.nav-item:hover .submenu {
    display: block;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}


 */

/* Отображаем ховер только на ПК */
@media (hover: hover) and (pointer: fine) {
    .custom-checkbox:hover {
        color: white;
        background: #9E00FF;
        border: 2px solid #9E00FF;
    }

    .quiz-question:hover {
        background: #9E00FF;
        color: white;
    }

    .custom-radio:hover {
        color: white;
        background: #9E00FF;
        border: 2px solid #9E00FF;
    }

    .custom-radio.active:hover {
        background: black;
        border: 2px solid black;
    }

    .custom-radio:hover input[type="radio"] + label:before {
        left: 2px;
        top: 1px;
        border: none;
    }

    .custom-radio.active:hover input[type="radio"] + label:before {
        left: 0;
        top: 0;
        border: 3px solid white;
        background-color: #9E00FF;
    }
}

@media (min-width: 768px) {

    .quiz-wrapper {
        display: flex;
        max-width: 1440px;
        min-height: 589px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .quiz-question {
        max-width: 320px;
        border-radius: 5px;
    }

    .quiz-question:first-child {
        border-radius: 20px 20px 5px 5px;
    }

    .quiz-question:last-child {
        border-radius: 5px 5px 20px 20px;
    }

    .quiz-question p {
        margin-top: 10px;
    }

    .quiz-sidebar {
        margin-right: 5px;
    }

    .quiz-content {
        height: 100%;
        max-width: 1112px;
    }

    .quiz {
        padding-left: 20px;
    }

    .quiz h1 {
        font-size: 72px;
        font-weight: 700;
        line-height: 69.48px;
        text-align: left;
    }

    .quiz p {
        max-width: 700px;
        padding: 0 0 50px 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 23.48px;

    }

    .answer-container {
        max-width: 600px;
    }

    .quiz-buttons {
        justify-content: left;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .quiz-back, .quiz-next {
        border-radius: 10px;
    }

    .swiper-button-next, .swiper-button-prev {
        display: flex !important;
        height: 100px !important;
        width: 100px !important;
        background: white;
        border-radius: 32px;
        color: black !important;
    }
}
